{% extends "base.html" %}
{% block title %}
About
{% endblock %}

{% block content %}
<section>
    <div align="center">
        <h2>Blog about cars</h2>
    </div>
    <br>
    <div>
        <h6> This blog was created with the aim of helping car owners when they have a problem with their car.</h6>
        <br>
        <h6>Rules of use of the blog:</h6>
        <ol>
            <li><h6>Create an account;</h6></li>
            <li><h6>Create a post when you have a problem with your car;</h6></li>
            <li><h6>Other users will help you through comments;</h6></li>
            <li><h6>The rest is improvised along the way.</h6></li>
        </ol>
    </div>
    <br>
    <div>
        <h6>A bit about ethics:</h6>
        <ol>
            <li><h6>We do not swear at other users;</h6></li>
            <li><h6>We don't make fun of people's problems;</h6></li>
        </ol>
    </div>
    
</section>
{% endblock %}