{% extends "base.html" %}
{% block title %}
Contact
{% endblock %}

{% block content %}
<section>
    <h2>Contact</h2>
    <br>
    <div>
        <h6>Bulevardul Uverturii 43</h6>
        <h6> Sector 6, Bucuresti</h6>
    </div>
    <br/>
    <div>
        <a href=""><i class="fa-solid fa-phone">  074.7672.393</i></a>
    </div>
    <br>
    <div>
        <a href=""><i class="fa-solid fa-envelope"> ion.murzac@yahoo.com</i></a>
    </div>
    <br>
    <div>
        <a href="https://www.linkedin.com/in/ion-murzac/"><i class="fa-brands fa-linkedin fa-3x" ></i></a>
        <a href="https://www.facebook.com/murzac.ion"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
        <a href="https://www.instagram.com/ion_murzac/"><i class="fa-brands fa-square-instagram fa-3x"></i></a>
        <a href="https://github.com/IonMurzac"><i class="fa-brands fa-square-github fa-3x"></i></a>
    </div>
    <br>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1383.8830667902107!2d26.03296191859997!3d44.435874076218866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201b751a1cc93%3A0x18425f644cd78ee8!2sBloc%20M1%2C%20Bulevardul%20Uverturii%2043%2C%20Bucure%C8%99ti%20060931!5e0!3m2!1sru!2sro!4v1673446495288!5m2!1sru!2sro" 
        width="600" height="450" style="border: 3px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>
{% endblock %}